.buttonContainer{
  display: grid;
  border: none;
  outline: none;
  background-color: rgba(10, 0, 30, 1);
  grid-template-columns: repeat(4, 1fr);
  height: 70vh;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
button{
  position: relative;
  font-size: 2rem;
  font-weight: bolder;
  border: none;
  outline: none;
  background-color: rgba(10, 0, 30, 1);
  color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}
.zero{
  
}
.display{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  font-size: 3rem;
  overflow: none;
  background-color: rgba(10, 0, 30, 1);
  color: whitesmoke;
}
.spec{
  color: rgba(240, 0, 150, 1);
  animation-name: colors;
  animation: infinite 5.0s ;
}

@keyframes colors{
  from {
      color: rgba(240, 0, 150, 1);
  }
  to {
    color: rgba(20, 20, 210, 1);
  }
}
#root{

  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body{
  width: 100vw;
}
@media screen and (min-width: 992px) {
  .body{
    border-radius: 30px;
    width: 22vw;
  }
  
}